<a href="/#/drafts">index</a>
<h1> {{draft.draft_name}} </h1>

<h4> 
	New here? Check out the readme on github and 
	<a href="http://peggyosterkamp.com/peggys-weaving-tips-read-weaving-drafts/">
		Peggy Osterkamp's fantastic guide to weaving drafts
	</a>
</h4>


<p> Treadling: 
	<input type="text" ng-model="draft.treadling.sequence" ng-list=","/>
</p>
<p> 
	Threading:
	<input type="text" ng-model="draft.threading.sequence" ng-list="," />
</p>
<p> 
	Tie Up: 
	<input type="text" ng-model="draft.tieup.sequence" ng-list=","/> 
</p>

<div class="container repeat-forms">
	<form name="repeats_form">
		<div> 
			<label for="threading_repeats"> Threading Repeats </label> 
			<input type="text" name="threading_repeats" ng-model="threading_repeats" ng-pattern = "/^[1-9]\d*$/" required />
			<span ng-show="repeats_form.threading_repeats.$error.pattern"> Must be a positive integer</span>
		</div>
		<div>
			<label for="treadling_repeats"> Treadling Repeats: </label>
			<input type="text" name="treadling_repeats" ng-model="treadling_repeats" ng-pattern = "/^[1-9]\d*$/" required />
			<span ng-show="repeats_form.treadling_repeats.$error.pattern"> Must be a positive integer</span>
		</div>
	</form> 
</div>

<div class="container threading-and-tieup">  
	<div class="threading-rows">
		<div class="threading-row" ng-repeat="shaft in range(draft.shafts) | orderBy:'+':true">
			{{ view_threading_row(draft.threading.sequence, shaft, threading_repeats) }} 
		</div>
	</div>

	<div class="tieup-rows">
		<div class="tieup-row" ng-repeat="tie in draft.tieup.sequence | orderBy:'shaft':true">
			{{ view_tieup_row(draft.treadles, tie) }}
		</div>
	</div>
</div>

<div class="container drawdown-and-treadling">
	<div class="drawdown-rows">
		<div class="drawdown-repeat" ng-repeat="repeat in range(treadling_repeats)">
			<div class="drawdown-row" ng-repeat="stomp in draft.treadling.sequence track by $index">
				{{ view_drawdown_row(stomp, draft, threading_repeats) }} 
			</div>
		</div>
	</div>

	<div class="treadling-rows">
		<div class="treadling-repeat" ng-repeat="repeat in range(treadling_repeats)">
			<div class="treadling-row" ng-repeat="stomp in draft.treadling.sequence track by $index">
				{{ view_treadling_row(draft.treadles, stomp) }}
			</div>
		</div>
	</div>
</div> 
